@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');


body {
    font-family: "Nunito+Sans", sans-serif;
}

/* -------------------------- Bootstrap Navbar ----------- */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #FCBF49;
}

.navbar a {
    color: #2e294e;
}

.navbar button {
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.nav li a {
    color: #2e294e;
    font-size: 18px;
} 

.nav li a:hover {
    background-color: #d7263d;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #fcbf49;
}

.dropdown-menu {
    background-color: #fcbf49;
}

.dropdown-item {
    color: #fcbf49;
    font-weight: 100;
    font-size: 18px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #d62828;
    color: #fcbf49;
}

.nav li a i {
    font-size: 28px;
    color: #f77f00
}

/* -------------------------- / END of Bootstrap Navbar ----------- */

/* -------------------------- Homepage Top Carousel----------- */

.home-top-carousel {
    height: 60vh;
}

.home-top-carousel img {
    height: 60vh;
    object-fit: cover;
}

.carousel-caption { 
    background-color: rgba(230, 57, 70, 0.3);
    width: 750px; 
    color: #fff; 
    top: 50%; 
    left: 25%; 
    bottom: auto; 
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%); }

.carousel-caption h1 { 
    font-size: 80px;
    letter-spacing: 0.2em
}

.carousel-caption h3 { 
    font-size: 40px;
}

.carousel-caption p { 
    font-size: 20px;
}

/* -------------------------- END of Homepage Top Carousel---- */

/* -------------------------- Main Gellery---- */

.gallery-container img {
    max-height: 400px;
    width: 85%;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 60px;
  background-color: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';  
  font-size: 35px;
  font-style: bold;
  color: white
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  font-style: bold;
  color: white;
}

/* -------------------------- END of Main Gallery---- */

/* -------------------------- Free Trial Container - Homepage---- */

.free-trial-box-image img {
    max-width: 400px;
    object-fit: contain;
}

/* -------------------------- END of  Free Trial Container - Homepage---- */

/* -------------------------- Services page Callout Container & Jumbotron--- */

.services-callout-container {
    height: 60vh;
    background-image: url('assets/css/images/maxfit-carousel-slide-placeholder.png') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* ----------Services intro container ----------- */ 

.services-intro-container {
    background-image: url("assets/css/images/maxfit-carousel-slide-placeholder.png");
    object-fit: contain;
    height: 200px;
}

.services-intro-container i {
    font-size: 45px;
}

/* ----------END of Services inro container ----------- */ 

/* ----------Gym Gallery ----------- */ 

.gym-gallery-container img {
    max-height: 150px;
    width: 85%;
    object-fit: cover;
}

/* ----------END of Gym Gallery ----------- */ 

/* ----------Personal Training----------- */ 

.trainer-gallery-container img {
    max-height: 150px;
    width: 85%;
    object-fit: cover;
}

/* ----------END of Personal Training ----------- */ 

/* ----------Studio Gallery Container----------- */ 

.studio-gallery-container img {
    max-height: 150px;
    width: 85%;
    object-fit: cover;
}

/* ----------END of Studio Gallery ----------- */

/* ----------Classes.html Gallery Containers----------- */ 

.classes-callout-container {
    background-image: url("../css/images/main-gallery/danielle-cerullo-CQfNt66ttZM-unsplash.jpg");
    object-fit: cover;
}

.classes-gallery-container img {
    max-height: 250px;
    width: 85%;
    object-fit: cover;
}

/* ----------End of Classes.html Gallery Containers----------- */ 


/* ----------Membership pricing cards, ----------- */ 

.card.pricing1 .onoffswitch {
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 auto;
}

.pricing1 .onoffswitch-label {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 20px;
}

.pricing1 .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.pricing1 .onoffswitch-inner::before,
.pricing1 .onoffswitch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pricing1 .onoffswitch-inner::before {
  content: "";
  padding-right: 27px;
  background-color: #2cdd9b;
  color: #FFFFFF;
}

.pricing1 .onoffswitch-inner::after {
  content: "";
  padding-right: 24px;
  background-color: #3e4555;
  color: #999999;
  text-align: right;
}

.pricing1 .onoffswitch-switch {
  width: 23px;
  margin: 6px;
  height: 23px;
  top: -1px;
  bottom: 0;
  right: 35px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.pricing1 .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.pricing1 .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.pricing1 .price-badge {
  top: -13px;
  left: 0;
  right: 0;
  width: 100px;
  margin: 0 auto;
}

.pricing1 .badge-inverse {
  background-color: #3e4555;
}

.pricing1 .display-5 {
  font-size: 3rem;
	color: #263238;
}

.pricing1 .pricing sup {
  font-size: 18px;
  top: -20px;
}

.pricing1 .pricing .yearly {
  display: none;
}

/* ----------END of Membership pricing cards, ----------- */ 

/* ---------- Social Block ----------------- */ 

.social-container {
    background-image: url('images/maxfit-carousel-slide-placeholder.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.social-block {
    text-align: center;
    color: #FFFFFF;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 255, 0, 0.3);
    position: absolute;
    display: inline-block;
    resize: both;
    overflow: auto;
}

.social-block li {
    font-size: 68px;
}

/* ----------END of Social Block ----------- */ 


/* ----------Footer ----------- */ 

.social-links-footer li i {
    font-size: 40px;
    margin: 6px;
}

.footer-navigation-list li {
    list-style-type: none;
}

.footer-navigation-list li i {
    font-size: 20px;
}

/* ----------END of Footer ----------- */ 

/* -------------------------- Media Queries--- */
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;  
    }  

    .carousel-multi-item-2 .card img {
    border-radius: 2px; 
    }
}