@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');


body {
    font-family: "Nunito+Sans", sans-serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin:  0;
}

.pointer {
    cursor: pointer;
}

/* -- Bootstrap Modal -- */

.modal {
    background-color: rgba(0, 48, 73,.85);
    color: #EAE2B7;
}

.modal-content {
    background-color: rgba(252, 191, 73,.95);
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding-top: 0px;
    color: #2e294e;
    border-bottom: none;
}

gallery-carousel-caption {
    border-top: none;
    padding-top: 10px;
    color: #2e294e;
}

/* -- /END of Bootstrap Modal -- */

/* -- Bootstrap Navbar -- */

.navbar {
    margin-bottom: 0;
    border-bottom: 3px solid;
    border-color: #2e294e; 
    width: 100%;
    background-color: #FCBF49;
}

.navbar a {
    color: #2e294e;
}

.navbar button {
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.nav li a {
    color: #2e294e;
    font-size: 18px;
} 

.nav li a:hover {
    background-color: #d7263d;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #EAE2B7;
}

.dropdown-menu {
    background-color: #fcbf49;
}

.dropdown-item {
    color: #EAE2B7;
    font-weight: 100;
    font-size: 18px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #EAE2B7;
}

.nav li a i {
    font-size: 28px;
    color: #f77f00;
}

.navbar-toggler-icon {
    background-color: #FCBF49;
}

/* -------------------------- / END of Bootstrap Navbar ----------- */

/* -------------------------- Homepage Top Carousel----------- */

.home-top-carousel {
    height: 60vh;
}

.home-top-carousel img {
    height: 60vh;
    object-fit: cover;
    border-bottom: 3px solid;
    border-color: #2e294e;
}

.carousel-caption { 
    background-color: rgba(230, 57, 70, 0.5);
    margin: 0;
    width: 66%; 
    color: #EAE2B7; 
    top: 50%;
    left: 17%;
    z-index: 1;
    bottom: auto; 
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%); 
    border-radius: 0.3rem;
}

.carousel-caption h1 { 
    font-size: 80px;
    letter-spacing: 0.2em
}

.carousel-caption h3 { 
    font-size: 30px;
}

.carousel-caption p { 
    font-size: 20px;
}

.carousel-caption .button { 
    font-size: 20px;
    color: #eae2b7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.carousel-caption button:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(214, 40, 40,.65);
    color: #eae2b7;
}

/* -------------------------- END of Homepage Top Carousel---- */

/* ----------Page introduction containers ----------- */ 

.page-intro-container {
    background-color: #FCBF49;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #2e294e; 
}

.page-intro-container hr {
    background-color: #2e294e;
    height: 2px;
    width: 80%;
}

.page-intro-container i {
    font-size: 45px;
    color: #d7263d;
}

.page-intro-container .button {
    font-size: 20px;
    color: #EAE2B7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.page-intro-container .button:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(214, 40, 40,.65);
    color: #eae2b7;
}

.page-intro-container .dropdown-menu {
    background-color: #2e294e;
    width: auto;
}

.page-intro-container .dropdown-item {
    padding-right: 60px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #d62828;
    color: #EAE2B7;
}

/* ----------END of Page introduction containers ----------- */ 

/* ----------Homepage - Features Section----------- */

.features-container {
    height: auto;
    background: url("../css/images/zumba-gallery/danielle-cerullo-3ckWUnaCxzc-unsplash-edited.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 3px solid;
    border-color: #d62828;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.features-title {
    background-color: rgba(46, 41, 78,.85);
    margin: 20px;
    padding: 15px;
    border-radius: 0.3rem;
}

.features-title h2 {
    padding: 25px;
    color: #EAE2B7;
}

.features-container .col-6 {
    margin: 0px;
    padding-top: 40px;
}

.feature-box {
    background-color: rgba(46, 41, 78,.85);
    padding: 25px;
    margin: 10px;
    color: #EAE2B7;
    border-radius: 0.3rem;
    width: 95%;
    height: 95%;
}

.feature-box i {
    color: #fcbf49;
    font-size: 45px;
}

.feature-box .btn {
    font-size: 20px;
    color: #eae2b7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.feature-box .btn:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #eae2b7;
}

/* ----------/END of Homepage - Features Section----------- */


/* -------------------------- Homepage - Main Gallery (and gallery controls for all galleries)---- */

.gallery-container {
    background-color: #d62828;
    padding-top: 40px;
    padding-bottom: 60px;
    color: #eae2b7;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #FCBF49;
}

.gallery-container p {
    color: #eae2b7;
}

.gallery-container img {
    max-height: 500px;
    width: 90%;
    object-fit: cover;
    border: 2px;
    border-color: #fff;
    border-radius: 0.3rem;
}

.gallery-container .btn {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    color: #EAE2B7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.gallery-container .btn:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #eae2b7;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    bottom: 70px;
    height: 60px;
    width: 60px;
    background-color: #d62828;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';  
    font-size: 35px;
    font-style: normal;
    color: #EAE2B7;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  font-style: normal;
  color: #EAE2B7;
}

/* -------------------------- END of Homepage - Main Gallery (and gallery controls for all galleries)---- */

/* -------------------------- Homepage - Testimonial section---- */

.testimonial-container {
    height: auto;
    background: url('../css/images/hiit-gallery/jesper-aggergaard-rA5aJvQ2l6g-unsplash-edited.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.testimonial-title {
    background-color: rgba(46, 41, 78,.75);
    margin: 20px;
    padding: 15px;
    border-radius: 0.3rem;
}

.testimonial-title h2 {
    padding: 25px;
    color: #EAE2B7;
}

.testiomonial-container .col-6 {
    margin: 0px;
    padding-top: 40px;
}

.testimonial-box {
    background-color: rgba(46, 41, 78,.75);
    padding: 25px;
    margin: 20px;
    color: #EAE2B7;
    border-radius: 0.3rem;
    width: 95%;
    height: 95%;
}

.testimonial-box i {
    color: #fcbf49;
    font-size: 45px;
}

.testiomonial-container hr {
    background-color: #fcbf49;
    height: 3px;
    width: 80%
}

.testimonial-hr {
    color: #fcbf49;
}
/* -------------------------- END of Homepage - Testimonial section---- */


/* -------------------------- Free Trial Container - Homepage---- */

.free-trial-container {
    height: auto;
    background: url('../css/images/free-trial-home/bruno-nascimento-PHIgYUGQPvU-unsplash.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 3px solid;
    border-color: #d7263d;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.free-trial-container div {
    padding: 5px;
    padding-bottom: 25px;
}

.free-trial-box {
    background-color: rgba(252, 191, 73.75);
    color: #2e294e;
    top: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 8%;
    border-radius: 0.3rem;
}

.free-trial-box .btn {
    font-size: 20px;
    color: #EAE2B7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.free-trial-box .btn:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #eae2b7;
}

/* -------------------------- END of  Free Trial Container - Homepage---- */

/* -------------------------- Services page Callout Container & Jumbotron--- */

.services-callout-container {
    height: auto;
}

.jumbotron {
    background-color: rgba(214, 40, 40,.55);
    width: 70%;
    height: 80%;
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 25px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #EAE2B7;
}

.jumbotron-container {
    background: url("../css/images/personal-training-gallery/inner-gallery/meghan-holmes-wy_L8W0zcpI-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 70px;
    border-bottom: 3px solid;
    border-color: #2e294e;
}

.jumbotron-col {
    padding: 0;
}

.jumbotron hr {
    height: 2px;
    width: 80%;
    background-color: #EAE2B7;
}

.jumbotron .btn {
    font-size: 20px;
    color: #EAE2B7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.jumbotron .btn:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #eae2b7;
}


/* ---------- Services sections on services.html - Gym, Personal Training, and Studio sections ----------- */ 

.services-container-gym {
    background: url("../css/images/circuit-gallery/inner-gallery/anastase-maragos-BKvwCAco-jw-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px;
    border-top: 3px solid;
    border-color: #d7263d;
}

.services-box-gym {
    background-color: rgba(46, 41, 78,.85);
    padding: 25px;
    margin: 10px;
    color: #EAE2B7;
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
}

.gym-gallery-container img {
    width: 100%;
}

.services-container-pt {
    background-color: #d62828;
    padding: 30px;
    color: #eae2b7;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #FCBF49;
}

.services-box-pt {
    background-color: rgba(46, 41, 78,.85);
    padding: 25px;
    margin: 10px;
    color: #EAE2B7;
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
}

.trainer-gallery-container img {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.services-container-studio {
    background: url("../css/images/studio-gallery/inner-gallery/anupam-mahapatra-Vz0RbclzG_w-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px;
    color: #eae2b7;
}

.services-box-studio {
    background-color: rgba(46, 41, 78,.85);
    padding: 25px;
    margin: 10px;
    color: #EAE2B7;
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
}

.studio-gallery-container img {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.services-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    color: #EAE2B7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.services-button:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #eae2b7;
}

.services-containers img {
    max-height: 450px;
    object-fit: cover;
}


/* ----------/END of Services sections on services.html - Gym, Personal Training, and Studio sections ----------- */  

/* ----------Classes.html Gallery Containers----------- */ 

.classes-callout-container {
    height: auto;
}

.jumbotron-container-classes {
    background: url("../css/images/zumba-gallery/inner-gallery/pixabay-zumba-andrzej-rembowski-002.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 70px;
    border-bottom: 3px solid;
    border-color: #2e294e;
}

.service-description {
    background-color: rgba(46, 41, 78,.85);
    width: 100%;
    height: 100%; 
    padding: 30px;
    color: #EAE2B7;
    border-radius: 0.3rem;
    align-content: center;
}

.service-description i {
    font-size: 50px;
    margin-bottom: 20px;
}

.service-description h2 {
    margin-bottom: 15px;
}

.classes-gallery-container img {
    max-height: 350px;
    width: 95%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.yoga-container {
    border-top: 2px solid;
    border-color: #2e294e;
}

.yoga-gallery-box {
    background: #d62828;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #EAE2B7;
}

.yoga-text-box {
    background: url("../css/images/yoga-gallery/inner-gallery/alex-shaw-U7e8LzAn-0s-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
}

.pilates-gallery-box {
    background: #FCBF49;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #2e294e;
}

.pilates-text-box {
    background: url("../css/images/pilates-gallery/inner-gallery/thought-catalog-lNy5RIiGQ1s-unsplash-full.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
    object-fit: cover;
}

.spinning-gallery-box {
    background: #d62828;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #EAE2B7;
}

.spinning-text-box {
    background: url("../css/images/yoga-gallery/inner-gallery/alex-shaw-U7e8LzAn-0s-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
}

.aerobics-gallery-box {
    background: #FCBF49;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #2e294e;
}

.aerobics-text-box {
    background: url("../css/images/yoga-gallery/inner-gallery/alex-shaw-U7e8LzAn-0s-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
}

.seniors-gallery-box {
    background: #d62828;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #EAE2B7;
}

.seniors-text-box {
    background: url("../css/images/yoga-gallery/inner-gallery/alex-shaw-U7e8LzAn-0s-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
}

.hiit-gallery-box {
    background: #FCBF49;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #2e294e;
}

.hiit-text-box {
    background: url("../css/images/yoga-gallery/inner-gallery/alex-shaw-U7e8LzAn-0s-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
}

.zumba-gallery-box {
    background: #d62828;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #EAE2B7;
}

.zumba-text-box {
    background: url("../css/images/yoga-gallery/inner-gallery/alex-shaw-U7e8LzAn-0s-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
}

.circuit-gallery-box {
    background: #FCBF49;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #2e294e;
}

.circuit-text-box {
    background: url("../css/images/yoga-gallery/inner-gallery/alex-shaw-U7e8LzAn-0s-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
}

.classes-gallery-container .btn {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    color: #EAE2B7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.classes-gallery-container .btn:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #eae2b7;
}

.card {
    border: 0px;
    border-radius: 0rem;
}

.card-header {
    background-color: #2e294e;
    padding: 10px;
    padding-bottom: 0px;
}

.card-body {
    background-color: #2e294e;
    padding-top: 0;
}

.table {
    color: #EAE2B7;
}

.card-header .btn h5 {
    margin: 0;
}

.card-header button {
    color: #EAE2B7;
    font-size: 20px;
    margin-bottom: 0px;
    border: none;
    padding: 0px;
}

.card-header button:hover {
    color: #FCBF49;
}

.card-body h3 {
    color: #EAE2B7;
    text-align: center;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.classes-accordian {
    padding-right: 0;
    padding-left: 0;
}

.classes-accordian button i {
    font-size: 30px;
}

.classes-table-head {
    background-color: #d62828;
    color: #EAE2B7;
}

.card-header .collapsed i {
  transform: rotateX(180deg);
}

.card-header i {
  transition: transform 1s;
  transform: rotateX(0deg);
}

/* ----------End of Classes.html Gallery Containers----------- */ 


/* ----------Membership page & pricing cards, ----------- */ 

.membership {
    padding-bottom: 0;
}

.club-pass-pricing {
    background-color: #FCBF49; 
    border: 1px;
    border-color: #d62828;
    padding-top: 5px;
}

.card-membership-body .btn {
    font-size: 18px;
    color: #eae2b7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.card-membership-body .btn:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(214, 40, 40,.65);
    color: #eae2b7;
}

.card-membership {
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    margin-bottom: 45px;
}

.card-membership:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.4);
}

.card-membership h3{
    font-weight: 600;
}

.card-membership-body {
    background-color: #EAE2B7;
    color: #2e294e;
    border-radius: 0.3rem;
}

.most-popular {
    box-shadow: 8px 8px 30px 4px rgba(243, 52, 4, 0.6);
    border-radius: 4px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    margin-bottom: 45px;
    background-color: #EAE2B7;
    color: #2e294e;
    border-radius: 0.3rem;
} 

.most-popular:hover {
    box-shadow: 8px 8px 30px 4px rgba(214, 40, 40, 0.8);
}

.club-pass-pricing {
    color: #2e294e;
}

.club-pass-pricing .ribbon {
  width: 160px;
  height: 38px;
  font-size: 16px;
  text-align: center;
  color: #EAE2B7;
  font-weight: bold;
  box-shadow: 0px 3px 5px rgba(136, 136, 136, 0.55);
  background: #d62828;
  position: absolute;
  right: -15px;
  top: -28px;
  padding-top: 7px; 
  border-radius: 0.5rem;
}

.membership-gallery {
    border: none;
}

/*-- /END of Membership pricing cards, ----------- */ 

/*-- Team page -----------*/ 

.team-section {
    background-color: #FCBF49;
    color: #2e294e;
}

.page-intro-container-team {
    padding-bottom: 5px;
}

/*-- /END of Team page -----------*/ 

/*-- Contact page -----------*/ 

.address-box-contact {
    color: #2e294e;
    background-color: #FCBF49;
    font-size: 18px;
    padding-bottom: 20px;
}

page-intro-container-contact {
    padding-bottom: 0px;
}

.map-box {
    background-color: #FCBF49;
    padding-top: 10px;
    padding-bottom: 25px;
}

.map-box iframe {
    border: 3px solid;
    border-color: #d62828; 
}

.form-control:focus {
    border-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(214, 40, 40,.25);
}

.contact-form-box {
    background-color: #fcbf49;
    color: #2e294e;
    padding-bottom: 45px;
}

.contact-form-box i {
    font-size: 60px;
    color: #d62828;
    padding-bottom: 25px;
    padding-top: 25px;
}

.form-group button {
    font-size: 20px;
    color: #eae2b7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.form-group button:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(214, 40, 40,.65);
    color: #eae2b7;
}

select option {
    background-color: #FCBF49;
    color: #2e294e;
    font-size: 18px;
    align-items: center;
}

/*-- Footer -----------*/ 

.footer {
    background-color: #2e294e;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #eae2b7;
    border-top: 3px solid;
    border-color: #EAE2B7;
}

.social-links-footer .bio {
    padding-right: 10%;
    padding-left: 10%;
}

.social-links-footer li i {
    font-size: 40px;
    margin: 4px;
    color: #FCBF49;
}

.social-links-footer li i:hover {
    color: #d62828;
}

.social-links-team ul {
    padding: 0px;
    writing-mode: horizontal-tb;
}

.social-links-team ul i {
    font-size: 40px;
    margin: 4px;
    color: #d62828;
}

.social-links-team ul i:hover {
    color: #2e294e;
}

.footer-navigation-list li {
    list-style-type: none;
    color: #eae2b7;
    padding-top: 5px;
}

.footer-navigation-list li a {
    color: #eae2b7;
}

.footer-navigation-list li a:hover  {
    color: #d62828;
}

.footer-navigation-list li i {
    font-size: 20px;
    color: #FCBF49;
}

.footer-divider {
    background-color: #eae2b7;
    height: 1.5px;
    width: 60%;
}

.address-box {
    padding-right: 30px;
}

.footer-mobile-only-home-link {
    background-color: #2e294e;
    margin: 0px;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 0;
    border-top: 2px;
    border-color: #eae2b7;
}

.footer-mobile-only-home-link a i {
    background-color: #2e294e;
    font-size: 30px;
    margin: 4px;
    color: #FCBF49;;
}

/* ----------END of Footer ----------- */ 

/* --Media Queries-- */
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;  
    }  

    .carousel-multi-item-2 .card img {
    border-radius: 2px; 
    }
}

/* --Homepage - Media Queries-- */


@media screen and (max-width: 896px) and (orientation: landscape) {
   .home-top-carousel {
    height: 100vh;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
   .home-top-carousel .carousel img {
    height: 100vh;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape)  {
   .home-top-carousel .carousel .carousel-caption h3 {
    display: none;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
   .carousel .carousel-caption  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 576px) and (orientation: landscape) {
    .d-sm-block {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .carousel-caption h1 {
        font-size: 40px;
    }

    .services-containers h2 {
        font-size: 28px;
    }

    .services-containers img {
        margin-top: 10px;
    }

    .classes-box h2 {
        font-size: 24px;
    }

    .classes-box h3 {
        font-size: 20px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 30px;
        width: 30px;
    }

    .carousel-control-next-icon:after {
        content: '>';  
        font-size: 17.5px;
        font-style: normal;
        color: #EAE2B7;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 17.5px;
        font-style: normal;
        color: #EAE2B7;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .carousel-caption h1 {
        font-size: 60px;
  }

    .services-containers h2 {
        font-size: 34px;
  }

    .services-containers img {
        margin-top: 10px;
  }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 30px;
        width: 30px;
    }

    .carousel-control-next-icon:after {
        content: '>';  
        font-size: 17.5px;
        font-style: normal;
        color: #EAE2B7;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 17.5px;
        font-style: normal;
        color: #EAE2B7;
    }
}

@media screen and (min-width: 992px) {
    .carousel-caption h1 {
        font-size: 80px;
  }

    .page-intro-container  h1 {
        font-size: 45px;
  }

    .address-box {
        justify-content: right;
        text-align: right;
  }

    .address-box address {
        justify-content: right;
        text-align: right;
  }

    .footer-mobile-only-home-link {
        display: none;
  }

    .jumbotron-container {
        padding-left: 60px;
        padding-left: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
  }

    .jumbotron-container h1 {
        font-size: 55px;
  }

    .services-containers h2 {
        font-size: 40px;
  }
}

@media screen and (max-width: 702px) {
  .page-intro-container h1 {
    font-size: 30px;
  }

  .features-container h1 {
    font-size: 30px;
  }

  .features-container h2 {
    font-size: 25px;
  }

  .testimonial-container h1 {
    font-size: 30px;
  }

  .testimonial-container h2 {
    font-size: 25px;
  }

  .gallery-container h1 {
    font-size: 30px;
  }

  .gallery-container img {
    width: 100%;
  }

  .free-trial-container {
    margin: 0;
    padding: 15px;
  }

  .free-trial-container h1 {
    font-size: 30px;
  }

  .free-trial-container h2 {
    font-size: 30px;
  }

  .footer-navigation-list {
    display: none;
  }

  .address-box hr {
    display: none;
  }

  .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
    margin: 15px auto;
  }

  .jumbotron-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .jumbotron-container h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 702px) and (max-width: 992px) {
  .page-intro-container  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 992px) {
  .address-box {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
  }
} 

@media screen and (max-width: 992px) {
  .address-box address {
    justify-content: center;
    text-align: center;
  }
} 

@media screen and (max-width: 767px) {
  .address-box img {
    display: none;
  }
} 

@media screen and (max-width: 992px) {
  .footer {
    border-color: #eae2b7;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px; 
    padding-top: 20px;
  }
} 

/* -- /END of Homepage - Media Queries-- */

/* -- Jumbotron - Media Queries-- */

@media screen and (min-width: 702px) and (max-width: 992px) {
  .jumbotron-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 702px) and (max-width: 992px) {
  .jumbotron-container h1 {
    font-size: 45px;
  }
}

/* -- /END of Jumbotron - Media Queries-- */

/* --/END of Media Queries-- */